h1 {
	position: static;
	box-shadow: 1px;
	margin: 20px;
	text-align: center;	
	background-color: #f8f9fa;
	padding: 16px;
	font-size: 20px;
}

h2 {
	text-align: center;
	font-size: 15px;

}

form {	
	
	padding: 100px;
	margin: 10px;
	box-sizing: content-box;
	display: block;
	position: static;
	border-radius: 20px;
	text-align: center;
}
